h1 {
    font-family: "Playwrite DK Uloopet", cursive;
}
#logo {
    font-family: "Dancing Script", cursive;
}
body {
    background-color: rgb(42, 42, 42);
}
#div-title {
    color: white;
}


.costum-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;


}
#card {
    position: relative;
}
.btn-edit {
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 14px;
    }
}